<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>Google Sign In</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.495709118320-mm2pgt6codokqq6m7m7n19nim6kcnhte</string>
            </array>
        </dict>
    </array>
    
    <!-- Add this section for Stripe local server connection -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
    </dict>
</dict>
</plist>
